@import "tailwindcss";

@theme {
  --color-acc-gold: #9a8c59;
  --color-acc-dark: #1a1a1a;
  --color-acc-dark-hover: #000000;
}

.bg-gold {
  background-color: #9a8c59;
  color: white;
}

.bg-gold:hover {
  background-color: #b7a969;
}
.bg-goldd {
  background-color: #9a8c59;
  color: white;
}

.main-container {
  background: linear-gradient(180deg, #ffffff 0%, #fdfbf7 100%);
}
